header {
	@include flexy(column);
	justify-content: center;
	align-items: center;
	height: 7rem;
	background-color: $color-primary;
	padding: 0.5em 0;
	//perspective: 800px;

	@include mq(medium) {
		@include flexy(row);
		justify-content: flex-start;
	}
}


#name {
	text-align: center;
	width: 90%;
	font-family: $font-primary;
	color: $light;
	background-color: $color-primary;
	margin: auto;

	@include mq(medium) {
		width: 40%;
		//max-width: 8em;
		text-align: start;
		margin: 0 auto 0 1em;
	}
}

#bio {
	text-align: center;
	width: 90%;
	font-family: $font-primary;
	color: $light;
	background-color: $color-primary;
	margin: auto;

	@include mq(medium) {
		//width: 30%;
		max-width: 10em;
		text-align: start;
		margin: 0 1em 0 0;
	}

}

#search {
	height: 2.5rem;
	font-size: 1.25rem;
	font-family: $font-secondary;
	border: 2px solid $light;
	border-radius: 5px;
	width: 90%;
	max-width: 460px;
	margin-bottom: 0.5em;

	@include mq(medium) {
		width: 40%;
		margin-right: 1em;
		margin-bottom: 0;
	}
}

#search:focus {
	outline: none;
	border: 2px solid $color-secondary;
}

