.gallery {
	@include flexy(column);
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 2em;

	@include mq(medium) {
		@include flexy(row);
	}
}

.thumbnail {
	width: 65%;
	min-height: 10em;
	//border: 3px solid black;
	//border-radius: 3px;
	margin: 10%;
	padding: 0.5em;
	text-align: center;
	//transition-delay: 0s;
	//transition-duration: 1.5s;
	//transition-timing-function: ease-out;

	img {
		width: 100%;
	}
/*
	p {
		font-size: 6em;
	}



	&:hover {
		transform: rotateY(180deg);
		background-color: black;
		color: white;
		font-weight: bold;
	}
*/
	@include mq(medium) {
		width: 35%;
		margin: 5%;
	}

	@include mq(large) {
		width: 25%;
		margin: 2.5%;
	}
/*
	@include mq(extra-large) {
		width: 12%;
		margin: 1%;
	}
*/
}