.gallery {
	@include flexy(column);
	justify-content: center;
	flex-wrap: wrap;
	padding: 2em;

	@include mq(medium) {
		@include flexy(row);
	}
}

.thumbnail {
	height: 10em;
	width: 10em;
	border: 3px solid black;
	border-radius: 3px;
	margin: 2em;
}