.gallery {
	@include flexy(column);
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 2em;

	@include mq(medium) {
		@include flexy(row);
	}
}

.thumbnail {
	width: 65%;
	min-height: 10em;
	margin: 10%;
	padding: 0.5em;
	text-align: center;

	img {
		width: 100%;
	}

	@include mq(medium) {
		width: 35%;
		margin: 5%;
	}

	@include mq(large) {
		width: 25%;
		margin: 2.5%;
	}
}