footer {
	@include flexy(row);
	justify-content: center;
	align-items: center;
	height: 4rem;
	background-color: $color-primary;
}

.social-icon {
	&:focus {
		outline: 2px solid $color-secondary;
	}
}

#twitter-icon,
#github-icon {
	height: 3em;
	width: 3em;

	&:hover path {
		fill: $color-secondary;
	}
}

#twitter-path {
	height: 100%;
	width: 100%;
	fill: $light;
	transform: translate(18px, 20px);
}

#github-path {
	height: 100%;
	width: 100%;
	fill: $light;
	transform: translate(7px, 9px);
}


